<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="siteMaster.master.cs" Inherits="_380_Project_3.ASPX_Dev.siteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Menu ID="MenuTabNav" runat="server" BackColor="#B5C7DE" DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="X-Small" ForeColor="#284E98" Orientation="Horizontal" StaticSubMenuIndent="10px" Width="100%" Font-Bold="True">
                <DynamicHoverStyle BackColor="#284E98" ForeColor="White" />
                <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="5px"/>
                <DynamicMenuStyle BackColor="#B5C7DE" />
                <DynamicSelectedStyle BackColor="#507CD1" />
                <Items>
                    <asp:MenuItem NavigateUrl="~/ASPX Dev/LandingPage.aspx" Text="Home" Value="Home"></asp:MenuItem>
                    <asp:MenuItem Text="Deliverables" Value="Deliverables" NavigateUrl="~/ASPX Dev/Deliverables.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Tasks" Value="Tasks" NavigateUrl="~/ASPX Dev/Tasks.aspx">
                        <asp:MenuItem Text="Tasks" Value="Tasks" NavigateUrl="~/ASPX Dev/Tasks.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="Summary Tasks" Value="Summary Tasks" NavigateUrl="~/ASPX Dev/SummaryTasks.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="Milestones" Value="Milestones" NavigateUrl="~/ASPX Dev/Milestones.aspx"></asp:MenuItem>
                    </asp:MenuItem>
                    <asp:MenuItem Text="Action Items" Value="Action Items" NavigateUrl="~/ASPX Dev/ActionItems.aspx"></asp:MenuItem>
                    <asp:MenuItem NavigateUrl="~/ASPX Dev/Issues.aspx" Text="Issues" Value="Issues"></asp:MenuItem>
                    <asp:MenuItem Text="Decisions" Value="Decisions" NavigateUrl="~/ASPX Dev/Decisions.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Resources" Value="Resources" NavigateUrl="~/ASPX Dev/Resources.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Risks" Value="Risks" NavigateUrl="~/ASPX Dev/Risks.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Requirements" Value="Requirements" NavigateUrl="~/ASPX Dev/Requirements.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Changes" Value="Changes" NavigateUrl="~/ASPX Dev/Changes.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Reference Documents" Value="Reference Documents" NavigateUrl="~/ASPX Dev/ReferenceDocuments.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Components" Value="Components" NavigateUrl="~/ASPX Dev/Components.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Defects" Value="Defects" NavigateUrl="~/ASPX Dev/Defects.aspx"></asp:MenuItem>
                    <asp:MenuItem Text="Logout" Value="Logout" NavigateUrl="~/ASPX Dev/Login.aspx"></asp:MenuItem>
                </Items>
                <StaticHoverStyle BackColor="#284E98" ForeColor="White" />
                <StaticMenuItemStyle HorizontalPadding="10px" VerticalPadding="10px" />
                <StaticSelectedStyle BackColor="#507CD1" />
            </asp:Menu>
            <div style="height:25px"></div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <p>
        &nbsp;</p>
</body>
</html>
